body {
    background-color: white;
    margin:0;
    padding:0;
}

div.leftCol a:link {  
    color:#00887a;  
}
div.leftCol a:hover {  
    color:lightgreen;  
}
div.leftCol a:active {  
    color:seagreen;  
}
div.leftCol a:visited {
    color:seagreen;
}

div.footer a:link {  
    color: white;
}
div.footer a:hover {  
    color:#ffccbc;  
}
div.footer a:active {  
    color:white;  
}
div.footer a:visited {
    color:#ffccbc;
}

div.flexOuter {
    display: flex;
    flex-direction: column;
}
div.flexInner {
    display: flex;
    flex-direction: row;
}

div.header {
    background-color: #ffccbc;
    color: #d3e3fc;
}
div.footer {
    background-color: #00887a;
    padding: 0.7em;
}
div.leftCol {
    background-color: #99b9f1;
}
div.rightSideBorder {
    background-color: #00887a;
    width: 0.3em;
}
div.topBorder {
    background-color: #00887a;
    height:0.3em;
}
div.content {
    background-color: white;
    padding: 1em;
}

p, h1 {
    margin: 0;
}

div.content h2 {
    color: #00887a;
    font-size: 3em;
    text-align: center;
    margin-bottom: 0.6em;
}
div.footer p {
    color: white;
    text-align: center;
}
div.header h1 {
    color: #00887a;
    padding: 0.5em;
    text-align: center;
}
div.leftCol h3{
    margin:0.6em;
    font-size: 1.2em;
    text-align: left;
}
div.leftCol h2{
    color: #00887a;
    font-size: 2.3em;
    margin:0.6em;
}
div.content p {
    color:rgb(95, 112, 129);
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 3%;
    font-size: 1.25em;
}
div.content ul li {
    color:rgb(95, 112, 129);
    margin-left: 10%;
    margin-right: 7%;
    margin-bottom: 2%;
    font-size: 1.25em;
}

div.content ul li ul li {
    color:rgb(95, 112, 129);
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom:2%;
    font-size: 1em;
}

div.content h3 {
    color: #00887a;
    margin-top: 3%;
    margin-left: 5%;
    font-size: 1.5em;
}

img#pfp {
    float: left;
    border-style: solid;
    border-color: #00887a;
    margin-right: 4em;
}

img#pidp, img#time, img#encoder {
    float: left;
    border-style: solid;
    border-color: #00887a;
    margin-left: 4%;
    margin-right: 5%;
    margin-bottom: 1.7%;
}

iframe#pidvid {
    float: left;
    border-style: solid;
    border-color: #00887a;
    margin-left: 4%;
    margin-right: 5%;
    margin-bottom: 1.7%;
}

@media (max-width: 750 px) {
    body {
        margin-left: 9%;
        margin-right: 9%;
        font-size: 0.9em;
    }
}

@media screen and (orientation: portrait) {
    body {
        font-size: 0.9em;
    }
    h3, h1, h2 {
        text-align: center;
    }
    p {
        text-align: left;
    }
}
